<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="userProfie.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
        <div class="container">
          <a class="navbar-brand" href="./home.html" ><i class="fa-solid fa-shop me-2"></i> <strong>Social Media</strong></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
       
          <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
            <div class="input-group">
              <span class="border-primary input-group-text bg-primary text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
              <input type="text" id="sm-search" class="form-control border-primary" style="color:#7a7a7a" placeholder="Search">
              <span class="border-primary input-group-text bg-primary text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
              <!-- <button class="btn btn-warning text-white" id="srchBtn">Search</button> -->
            </div>
          </div>
          <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <div class="ms-auto d-none d-lg-block">
              <div class="input-group">
                <span class="border-primary input-group-text bg-primary text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" id="search" class="form-control border-primary" style="color:#7a7a7a" placeholder="Search">
                <span class="border-primary input-group-text bg-primary text-white"><i class="fa-solid fa-magnifying-glass"></i></span>
                <!-- <button class="btn btn-warning text-white" id="srchBtn">Search</button> -->
              </div>
            </div>
            <script>
                
            </script>
            <ul class="navbar-nav ms-auto ">
              <li class="nav-item">
                <p class="nav-link mx-2 text-uppercase mt-1" onclick="handleLogout()">Logout</p>
              </li>
              <script>
                
              </script>
              <li class="nav-item">
                <!-- <img src="../../Project/photo-1605542484282-6e2d79b74f8f.jpg" alt="" width="30" height="30"> -->
                <p class="nav-link mx-2 text-uppercase mt-1" id="userName" onclick="user()">Waqas</p>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    <div class="container mt-5 mb-5">
        <div class="row no-gutters">
            <div class="col-md-4 col-lg-4"><img src="https://i.imgur.com/aCwpF7V.jpg" id="userImg"></div>
            <div class="col-md-8 col-lg-8">
                <div class="d-flex flex-column">
                    <div class="d-flex flex-row justify-content-between align-items-center p-5 bg-dark text-white">
                        <h3 class="display-5" id="name" >Amelly Anderson</h3><i class="fa fa-facebook"></i><i class="fa fa-google"></i><i class="fa fa-youtube-play"></i><i class="fa fa-dribbble"></i><i class="fa fa-linkedin"></i></div>
                    <div class="p-3 bg-black text-white">
                        <h6 id="userEmail">Web designer &amp; Developer</h6>
                    </div>
                    <div class="d-flex flex-row text-white">
                        <div class="p-4 bg-primary text-center skill-block">
                            <h6 id="userGender">Bootstrap</h6>
                        </div>
                        <div class="p-3 bg-success text-center skill-block">
                            <h6 id="username">Jquery</h6>
                        </div>
                        <!-- <div class="p-3 bg-warning text-center skill-block">
                            <h6>HTML</h6>
                        </div>
                        <div class="p-3 bg-danger text-center skill-block">
                            <h6>PHP</h6>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="./userProfile.js"></script>
    <!-- <script src="home.js"></script> -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>